---
import ColorCards from "$layouts/ColorCards.astro";
import Nowplaying from "$layouts/Nowplaying.astro";
import Page from "$layouts/Page.astro";
import Profile from "$layouts/Profile.astro";
---

<Page>
    <Profile />
    <div class="group">
        <ColorCards />
        <Nowplaying />
    </div>
</Page>

<style>
    .group {
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap-reverse;
        justify-content: stretch;
        align-items: first baseline;

        gap: 2rem;
    }

    .group > :global(*) {
        flex: min-content;
        width: fit-content;
    }
</style>
