---
import Page from "$layouts/Page.astro";
import Section from "$layouts/Section.astro";
---

<Page>
    <Section>
        <h1>404 Not Found</h1>

        <p>
            what the hell… here's a link to
            <a href="../"><code>[GO BACk]</code></a>
        </p>
        <p>
            and here's a link to
            <a href="/"><code>[GO HOME]</code></a>
        </p>
    </Section>
</Page>
