---
import Section from "../layouts/Section.astro";

import nowplaying from "../assets/nowplaying.html";
---

<Section needsJs>
    <div class="container">
        <p>what the mouse listening to !?</p>
        <p>
            <small>
                (it shows whatever i'm listening to on my computer!!!)
            </small>
        </p>

        <div id="nowplaying-container">
            <Fragment hidden set:html={nowplaying({ slots: undefined })} />
        </div>
    </div>
</Section>

<script>
    document.addEventListener("DOMContentLoaded", () => {
        const e = document.getElementById("nowplaying-container")!;
        e.attachShadow({ mode: "open" });
        e.shadowRoot?.replaceChildren(...e.childNodes);
        [...e.children].forEach((e) => {
            (e as HTMLElement).hidden = false;
        });
    });
</script>

<style>
    #nowplaying-container {
        margin-top: 1rem;
        width: 400px;
        height: 200px;
    }

    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: fit-content;
        margin-inline: auto;
    }
</style>
